@import 'kitto/unify';
@import '$library/variables.css';

html {
	background-color: black;
	color: #ccc;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

body {
	letter-spacing: 0;
}

button {
	letter-spacing: inherit;
}

a {
	color: mediumslateblue;
	text-decoration: none;
}

hr {
	background-color: var(--c-black);
	border: none;
	height: 0.5px;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
	font-weight: 500;
}

h1 {
	font-size: 1.625rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.375rem;
}
h4 {
	font-size: 1.25rem;
}
h5 {
	font-size: 1.125rem;
}
h6 {
	font-size: 1rem;
}

.contain {
	margin: 0 auto;
	max-width: var(--s-wrap);
	width: 90vw;
}
